#uber-vk-write { background:#101010; margin:auto; /*width:710px;*/ -moz-border-radius:0px; -o-border-radius:0px; -webkit-border-radius:0px; -khtml-border-radius:0px; border-radius:0px; border:0px solid #676767; position:relative; font-size:12px;text-align:left;padding: 5px;}
#uber-vk-player { background:#000000; margin:0px auto; width:100%; height:360px; clear:both; }
#uber-vk-season, #uber-vk-serial { margin:0px auto; padding:0px; width:100%; Aheight:40px; list-style:none; overflow:hidden;position:relative; }
#uber-vk-season li, #uber-vk-serial li { list-style:none; float:left; padding-top:4px; cursor:pointer; white-space:pre-line;margin:3px}
#uber-vk-season li span, #uber-vk-serial li span { background:#2D2D2D; display:inline-block; text-align:center; width:60px; line-height:22px; margin:4px 3px; -moz-border-radius:0px; -o-border-radius:0px; -webkit-border-radius:0px; -khtml-border-radius:0px; border-radius:0px; color:#FFF; border:1px solid #676767; }
#uber-vk-season li span { width:104px; }
#uber-vk-write .active { background:#5D5D5D; }
#uber-vk-write .active:hover { background:#5D5D5D; }
#uber-vk-season li span:hover, #uber-vk-serial li span:hover { background:#4D4D4D ; }

#seasons:before {
    content:"В русской озвучке от:";
    display: block;
    font-size: 15px;
	font-weight: bold;
    color:#BCBCBC;
    margin-bottom: 5px;
}

#uber-vk-write .prev { background: url('http://o-nline.ws/prev.png') 0 0 no-repeat; line-height:0px; outline:none; font-size:0px; width:24px; height:24px; display:none; position:absolute; left:5px; top:8px; }
#uber-vk-write .next { background: url('http://o-nline.ws/next.png') 0 0 no-repeat; line-height:0px; outline:none; font-size:0px; width:24px; height:24px; display:none; position:absolute; right:5px; top:8px;  }
#uber-vk-write .prev1 { background: url('http://o-nline.ws/prev.png') 0 0 no-repeat; line-height:0px; outline:none; font-size:0px; width:24px; height:24px; display:none; position:absolute; left:5px; bottom:8px; }
#uber-vk-write .next1 { background: url('http://o-nline.ws/next.png') 0 0 no-repeat; line-height:0px; outline:none; font-size:0px; width:24px; height:24px; display:none; position:absolute; right:5px; bottom:8px;  }
